<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" href="main.css">
   <title>Skate Spots</title>
</head>
<body>
   <div class="d-flex justify-content-end">
       <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <!-- create href functionality -->
                       <a class="nav-link" href="#">Contact</a>
                   </li>
               </ul>
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <!-- create href functionality -->
                       <a class="nav-link" href="#">Login</a>
                   </li>
               </ul>
           </div>
           <!-- add user profile to image src -->
           <img class="navbar-brand" src="img/profile.jpg" width="100px" height="67.5px" alt="profile photo">
       </nav>
   </div>
   <div class="input-group mb-3 d-flex justify-content-center mt-5">
       <input type="text" class="mr-sm-2" placeholder="Location..." type="search">
       <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button">Submit</button>
       </div>
   </div>
   <div class="text-center">
       <img src="img/map.png" alt="map picture" width="400" height="293">
   </div>
</body>
</html>