<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Muralz | Profile </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
</head>
<body id="page-img">
  <header>
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a class="navbar-brand"><h1 class="stong">Profile</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" id="nav-bar">
                <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                <!-- <a class="nav-item nav-link active" href="/user/logout">Logout<span class="sr-only">(current)</span></a> -->
                <% if(user){ %>
                  <a href="/user/logout" class="nav-item nav-link active"> Logout </a>
                <% } else{ %>
                  <a href="/login"class="nav-item is-active" active-color="orange">Login </a>
                <% } %>
                <a class="nav-item nav-link active" href="/user/addSpot">Add Spot<span class="sr-only">(current)</span></a>
              </ul>
          </div>
        </nav>             
        <br>
        <br>
        <br>
        <div id="box" class="text-left">
          <div id="profile-box">  
            <div class="ml-5 ">
              <img  id="profile-img" src="https://gpluseurope.com/wp-content/uploads/Mauro-profile-picture.jpg" alt="Avatar" style="width:300px">
              <br>
              <br>
              <h1 class="ml-2 "><%= user.firstName %> <%= user.lastName %></h1>
              
            </div>
          </div> 
          <br>
          <br> 
          <h2 id="spots" class="ml-5">Favorite spots</h2>
          <br>
          <br>
            <div class="ml-5 ">
                <img src="../img/park2.JPG" width="400px" height="350px">
                <br>
                <br>
                <br>
                <img src="../img/park3.jpg" width="400px" height="350px">
            </div>
          </div>
      </div>
 </header>
</body>
</html>