<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate Hub | Profile </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
</head>
<body id="body">
  <header>
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a class="navbar-brand"><h1 class="stong">Profile</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" id="nav-bar">
                <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/user/logout">Logout<span class="sr-only">(current)</span></a>
            </ul>
          </div>
        </nav>             
      </div>
      <br>
      <br>
      <br>
        <div class="text-center">
          <img src="../img/profile2.png" id="img" >
          <h1><%= %></h1>
        </div>
      <h2 id="spots">Favorite spots</h2>
        <div>
          <form>
            <img src="../img/park2.JPG" id="L1" alt="">
            <textarea name="Description" id="detail1" cols="40" rows="7" placeholder="Description..."></textarea>
            <br>
            <br>
            <br>
            <img src="../img/park3.jpg" id="L2" alt="">
            <textarea name="Description" id="detail2" cols="40" rows="7" placeholder="Description..."></textarea>
           </form>
        </div>
 </header>
</body>
</html>