<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Muralz | Registration</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="bg-img">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand"><h1 class="stong">Register</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/login">Login <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>
        <div id="name" class="h-50 bd-highlight">
            <form action="/user/register" method="POST">
                <div class="d-flex justify-content-center h-50 bd-highlight">
                    <ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="First Name..." name="firstName" required>
                        </div>
                        <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Last Name..." name="lastName" required>
                            </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Email..." name="email" required>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password..." id="password" name="password" required>
                        </div>
                        <div>
                            <h5>Add Profile</h5>
                            <label for="avatar"></label>
                            <input type="text" name="avatar">
                        </div>
                    </ul>
                </div>
                <div id="wrapper">        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>