<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate Hub | Registration</title>
    <link rel="stylesheet" href="../public/css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <h1 class="d-flex justify-content-center" id="title">Registration</h1>
    <div>
        <ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </ul>
    </div>
<body>
        <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Links To Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="home.ejs">Home</a>
                  <a class="dropdown-item" href="profile.ejs">Profile page</a>
                  <a class="dropdown-item" href="ratings.ejs">Ratings</a>
                </div>
              </div>
         </div>
        <div id="username" class="d-flex justify-content-center bd-highlight">
            <ul>
                    <input name="username"  cols="37" rows="1" placeholder="username"></input>
                    <br>
                    <input name="email"     cols="37" rows="1" placeholder="email"></input>
                    <br>
                    <input name="password"  cols="37" rows="1" placeholder="password"></input>
            </ul>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>