<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resigstration</title>
    <link rel="stylesheet" href="../public/css/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <h1 id="title">Resigstration</h1>
    <div>
        <ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </ul>
    </div>
<body>
    <div id="username" class="d-flex p-2 bd-highlight">
        <ul>
                <textarea name="username" id="username" cols="37" rows="1" placeholder="username"></textarea>
                <textarea name="email"    id="email" cols="37" rows="1"    placeholder="email"></textarea>
                <textarea name="password" id="password" cols="37" rows="1" placeholder="password"></textarea>
        </ul>
    </div>
</body>
</html>