<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spot | Reviews</title>
    <link rel="stylesheet" href="../public/css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand"><h1 class="stong">Spot Reviews</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/login">Login<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="/register">Register<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="/user/profile">Profile<span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        </div>
        <br>
        <br>
        <br>
        <form class="mx-auto" style="width: 1000px;">
            <img src="../img/park3.jpg">
            <br>
            <br>
        </form>
        <div class="container mx-auto text-center">
            <h1>Distance: </h1>
            <form action="/tasks" method="POST" class="mt-0">
                <input class="form-control form-control-lg" type="text" name="taskItem" placeholder="Add item ..." required>
                <button type="submit" class="btn btn-primary btn-lg mt-1 mb-5 btn-block">Add Comment</button>
            </form>
            <ul class="list-group list-group-flush mt-5 text-light">
                    <% for ( let i=0; i < comments.length;  i++ ) { %>
                        <li class="list-group-item" id="<%= comments[i].id %>" ><%= comments[i].description %></li>
                    <% } %>
            </ul>
        </div>
    </body>
</html>