#img {
    background-image: url('../img/sk8_login.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#wrapper {
   margin-left: 49%; 
}

#login-box {
    background-color: rgba(255, 255, 255, 0.911);
    margin: 40px 0px 5px 0px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#message {
    margin-left: 500px
}