#map-input {
    background-color: rgba(255, 255, 255, 0.911);
    margin: 40px 0px 5px 0px;
    padding-top: 13px;
    padding-bottom: 50px;
    text-align: center
}

#loc-input {
    padding: 5px 25% 5px 0px;
}

#home-img {
    background-image: url('../img/sk8_home.jpg');
    background-size: 50%;
}



