#page-img {
  background-image: url('../img/skateboard_1.jpg');
  background-size: 50%;
}
#spots {
  
}
#img {
  border-radius: 10%;
  width: 150px;
  height: 100px;
}

#detail {
  width: 25%
}


#profile-img {
  border-radius: 50%;
  border: 5px black
}

#box {
  background-color: rgba(255, 255, 255, 0.911);
  margin: 40px 0px 5px 0px;
  padding-top: 13px;
  padding-bottom: 50px;
  text-align: center
}

#profile-box {
  background-color: rgba(184, 183, 183, 0.822);
  padding-top: 13px;
}