#title {
    text-align: center;
    font-style: italic
}

#name {
    background-color: rgba(255, 255, 255, 0.911);
    margin: 40px 0px 5px 0px;
    padding-top: 13px;
    padding-bottom: 20px;
    text-align: center
}

input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

#password {
    height: 33px;
}

#bg-img {
    background-image: url('../img/sky_beach2.jpg');
}


